/* CSS RESET FILE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ######################################### PAGE MAIN SETTINGS ############################################ */

html {
    font-family: Helvetica, Arial, sans-serif;
}

/* ######################################### MAIN SECTION ############################################ */

.main-section {
  background-image: url("./img/main.jpg");
  background-position: bottom;
  height: 595px;
  max-width: 1440px;
}

/* ######################################### NAV BAR ############################################ */

.navarea {
  border: solid transparent;
  background-color: transparent;
}

.navbar {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative; 
  margin-top: 10%;
  margin-right: 15%;
  margin-left: 15%;
  height: 38px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar button {
  background: linear-gradient(to top, rgb(126, 120, 120) 50%, rgb(107, 102, 102) 50%);
  box-shadow: none;
  width: 103px;
  border-right: 1px solid rgb(92, 85, 85);
  border-left: none;
  border-top: 1px solid rgb(104, 102, 102);;
  border-bottom: 1px solid rgb(104, 102, 102);;
  font-size: 13px;
  font-weight: 500;
}

.navbar button:hover {
  background: linear-gradient(to top, rgb(97, 90, 90) 50%, rgb(75, 70, 70) 50%);
  cursor: pointer;
}

.search {
  width: 133px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  border-radius: 10px;
}

.logo {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchdiv {
  background: linear-gradient(to top, rgb(126, 120, 120) 50%, rgb(107, 102, 102) 50%);
  width: 150px;
  padding-top: 9px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input {
  border-radius: 10px;
  background: linear-gradient(to top, rgb(126, 120, 120) 50%, rgb(107, 102, 102) 50%);
  position: absolute;
  width: 12%;
  z-index: 1;
}

.searchicon {
  position: absolute;
  margin-right: 50px;
  margin-left: 7px;
  margin-top: 4px;
  z-index: 2;
}

/* ######################################### MAIN TITLE ############################################ */

.mainwords {
  color: white;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.firstword {
  font-size: 4rem;
  padding-top: 60px;
}

.secondword {
  font-size: 2rem;
  padding-top: 20px;
  line-height: 3rem;
}

.thirdword {
  padding-top: 30px;
}

.thirdword a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.thirdword a:hover {
  text-decoration: underline;
}

/* ######################################### SMALL IMAGES ############################################ */

.small-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2px;
  max-width: 1440px;
}

.small-blocks div {
  background-position: top;
  background-size: cover;
  height: 200px;
  flex-basis: 24.9%;
}

.first-block {
  background-image: url("./img/1.jpg");
}

.second-block {
  background-image: url("./img/2.jpg");
}

.third-block {
  background-image: url("./img/3.jpg");
}

.forth-block {
  background-image: url("./img/4.jpg");
}

/* #########################################  FOOTER ############################################ */

.footer {
  padding-top: 20px;
  font-size: 11px;
  color: rgb(95, 93, 93);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1440px;
}

.footer a {
  text-decoration: none;
  color: rgb(88, 88, 219);
}

.stores {
  padding-bottom: 10px;
  margin-left: 10%;
}

.lastlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  margin-right: 10%;
}

.trademark {
  padding-bottom: 10px;
  margin-left: 10%;
}

/* #########################################  MEDIA QUERY ############################################ */

@media screen and (max-width: 1200px) {
  .footer { 
    display: block;
    text-align: center;
  }
  
  .stores {
    margin-left: initial;
  }

  .lastlinks {
    padding-left: 10%;
  }

  .trademark {
    margin-left: initial;
  }
}

@media screen and (max-width: 900px) {
  .small-blocks div {
    flex-basis: 49.9%;
    background-position: top;
    background-size: cover;
  }

  .navbar {
    display: none;
  }

  .mainwords {
    padding-top: 15%;
  }

@media screen and (max-width: 480px) {
  .small-blocks div {
    flex-basis: 100%;
    background-position: top;
    background-size: cover;
    min-width: 375px;
  }
  
  .secondword {
    display: none;
  }
}